#!/bin/bash

# VIDEO INPUT
videocard="/dev/video0"
videocardtype="mjpeg"

# AUDIO INPUT
audiocard="hw:CARD=MS2109,DEV=0"

# VIDEO OUTPUT
videosize="1280x720"
encoder="libx264"
preset="ultrafast"
framerate="30"
keyframe="60"
bitrate="4000k"
outputformat="yuv420p"

#AUDIO OUTPUT
bitrateaudio="128k"
audioencoder="aac"
audiochannels="2"
sampling="48000"
# RTMP DETAILS
ingesturl="rtmp://rtmp.ldlc-ol.com"
ingestkey="truc"
streamkey="$ingesturl/$ingestkey"
